## Data Analysis3 Assignment-1 Jo Kudo

### Import libraries

In [1]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from mizani.formatters import percent_format
import os
from plotnine import *
import numpy as np
import sys
import numpy as np
import statsmodels.api as sm
import statsmodels.formula.api as smf
from stargazer import stargazer
from statsmodels.tools.eval_measures import mse,rmse

### Loading Data

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/Jk33033/Data_Analysis3/main/assignment1/morg-2014-emp.csv")
df

,Unnamed: 0,hhid,intmonth,stfips,weight,earnwke,uhours,grade92,race,ethnic,...,ownchild,chldpres,prcitshp,state,ind02,occ2012,class,unionmme,unioncov,lfsr94
0,3,2600310997690,January,AL,3151.6801,1692.00,40,43,1,NaN,...,0,0,"Native, Born In US",63,Employment services (5613),630,"Private, For Profit",No,No,Employed-At Work
1,5,75680310997590,January,AL,3457.1138,450.00,40,41,2,NaN,...,2,6,"Native, Born In US",63,Outpatient care centers (6214),5400,"Private, For Profit",No,No,Employed-Absent
2,6,75680310997590,January,AL,3936.9110,1090.00,60,41,2,NaN,...,2,6,"Native, Born In US",63,Motor vehicles and motor vehicle equipment man...,8140,"Private, For Profit",No,No,Employed-At Work
3,10,179140131100930,January,AL,3288.3640,769.23,40,40,1,NaN,...,2,4,"Native, Born In US",63,"**Publishing, except newspapers and software (...",8255,"Private, For Profit",Yes,NaN,Employed-At Work
4,11,179140131100930,January,AL,3422.8500,826.92,40,43,1,NaN,...,2,4,"Native, Born In US",63,"Banking and related activities (521, 52211,52219)",5940,"Private, For Profit",No,No,Employed-At Work
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149311,317051,896679860459501,December,WY,346.2296,692.30,40,39,1,NaN,...,0,0,"Native, Born In US",8,Office supplies and stationery stores (45321),4760,"Private, For Profit",No,No,Employed-At Work
149312,317052,907086820569600,December,WY,294.9800,1984.61,40,44,1,NaN,...,1,3,"Native, Born In US",8,Administration of human resource programs (923),430,Government - State,No,No,Employed-At Work
149313,317053,907086820569600,December,WY,324.1761,2884.61,55,43,1,NaN,...,1,3,"Native, Born In US",8,Nursing care facilities (6231),10,"Private, For Profit",No,No,Employed-At Work
149314,317055,950868097156649,December,WY,321.6982,1153.84,40,42,1,NaN,...,0,0,"Native, Born In US",8,Hospitals (622),5820,"Private, Nonprofit",No,No,Employed-At Work
149315,317056,950868097156649,December,WY,294.9800,673.07,40,40,1,NaN,...,0,0,"Native, Born In US",8,Pharmacies and drug stores (44611),3420,"Private, For Profit",No,No,Employed-At Work

### Select Occupation to Personal Care and Service Occupations

In [9]:
data = df.loc[((df["occ2012"] >= 4300) & (df["occ2012"] <= 4650))]
data.describe()

,Unnamed: 0,hhid,weight,earnwke,uhours,grade92,race,ethnic,age,sex,marital,ownchild,chldpres,occ2012
count,4350.000000,4.350000e+03,4350.000000,4350.000000,4350.000000,4350.000000,4350.000000,619.000000,4350.000000,4350.000000,4350.000000,4350.000000,4350.000000,4350.000000
mean,158316.767126,4.524965e+14,2406.138897,458.244972,33.354483,40.012184,1.596782,2.924071,37.427586,1.769885,4.274253,0.566897,1.573103,4547.657471
std,91185.348431,3.204006e+14,1303.166668,365.171003,13.004283,2.115994,1.514911,2.501595,13.613888,0.420955,2.737030,0.985994,2.952224,92.510811
min,128.000000,1.765610e+10,128.694800,1.000000,1.000000,31.000000,1.000000,1.000000,16.000000,1.000000,1.000000,0.000000,0.000000,4300.000000
25%,80526.500000,1.401513e+14,1264.143200,230.760000,25.000000,39.000000,1.000000,1.000000,25.000000,2.000000,1.000000,0.000000,0.000000,4510.000000
50%,158899.500000,4.251351e+14,2702.789800,378.100000,40.000000,40.000000,1.000000,1.000000,36.000000,2.000000,5.000000,0.000000,0.000000,4600.000000
75%,238386.750000,7.239546e+14,3358.488650,576.000000,40.000000,41.000000,2.000000,5.000000,49.000000,2.000000,7.000000,1.000000,3.000000,4610.000000
max,317005.000000,9.999904e+14,7606.269500,2884.610000,99.000000,46.000000,25.000000,8.000000,64.000000,2.000000,7.000000,7.000000,15.000000,4650.000000

In [13]:
data.columns

Index(['Unnamed: 0', 'hhid', 'intmonth', 'stfips', 'weight', 'earnwke',
       'uhours', 'grade92', 'race', 'ethnic', 'age', 'sex', 'marital',
       'ownchild', 'chldpres', 'prcitshp', 'state', 'ind02', 'occ2012',
       'class', 'unionmme', 'unioncov', 'lfsr94'],
      dtype='object')

### Add some variables

In [16]:
data
data["w"] = data["earnwke"] / data["uhours"]
data["agesq"] = np.power(data["age"], 2)
data["grade92sq"] = np.power(data["grade92"], 2)
data["female"] = (data["sex"] == 2)
data.describe()

,Unnamed: 0,hhid,weight,earnwke,uhours,grade92,race,ethnic,age,sex,marital,ownchild,chldpres,occ2012,w,agesq,grade92sq
count,4350.000000,4.350000e+03,4350.000000,4350.000000,4350.000000,4350.000000,4350.000000,619.000000,4350.000000,4350.000000,4350.000000,4350.000000,4350.000000,4350.000000,4350.000000,4350.000000,4350.000000
mean,158316.767126,4.524965e+14,2406.138897,458.244972,33.354483,40.012184,1.596782,2.924071,37.427586,1.769885,4.274253,0.566897,1.573103,4547.657471,13.614158,1586.119540,1605.451264
std,91185.348431,3.204006e+14,1303.166668,365.171003,13.004283,2.115994,1.514911,2.501595,13.613888,0.420955,2.737030,0.985994,2.952224,92.510811,10.262829,1074.355512,167.392162
min,128.000000,1.765610e+10,128.694800,1.000000,1.000000,31.000000,1.000000,1.000000,16.000000,1.000000,1.000000,0.000000,0.000000,4300.000000,0.041667,256.000000,961.000000
25%,80526.500000,1.401513e+14,1264.143200,230.760000,25.000000,39.000000,1.000000,1.000000,25.000000,2.000000,1.000000,0.000000,0.000000,4510.000000,8.653750,625.000000,1521.000000
50%,158899.500000,4.251351e+14,2702.789800,378.100000,40.000000,40.000000,1.000000,1.000000,36.000000,2.000000,5.000000,0.000000,0.000000,4600.000000,11.000000,1296.000000,1600.000000
75%,238386.750000,7.239546e+14,3358.488650,576.000000,40.000000,41.000000,2.000000,5.000000,49.000000,2.000000,7.000000,1.000000,3.000000,4610.000000,15.000000,2401.000000,1681.000000
max,317005.000000,9.999904e+14,7606.269500,2884.610000,99.000000,46.000000,25.000000,8.000000,64.000000,2.000000,7.000000,7.000000,15.000000,4650.000000,214.200000,4096.000000,2116.000000

### Making Model 1-4

In [86]:
reg1 = smf.ols("w ~ age + agesq", data=data).fit(cov_type="HC0")
reg2 = smf.ols("w ~ age + agesq + grade92 + grade92sq", data=data).fit(cov_type="HC0")
reg3 = smf.ols("w ~ age + agesq + grade92 + grade92sq + female + uhours + ownchild", data=data).fit(cov_type="HC0")
reg4 = smf.ols("w ~ age + agesq + grade92 + grade92sq + female + uhours + ownchild +  grade92* age + female*age + uhours*age + ownchild*age ", data=data).fit(cov_type="HC0")

In [87]:
models = [reg1, reg2, reg3, reg4]
robustcov_results=[]

for i, model in enumerate(models):
    result=model.get_robustcov_results(cov_type='HC1').summary()
    robustcov_results.append(result)
    print()
    print(f'Regression: reg{i+1}')
    print(result)

Regression: reg1
                            OLS Regression Results
==============================================================================
Dep. Variable:                      w   R-squared:                       0.023
Model:                            OLS   Adj. R-squared:                  0.023
Method:                 Least Squares   F-statistic:                     41.46
Date:                Wed, 10 Jan 2024   Prob (F-statistic):           1.46e-18
Time:                        22:56:02   Log-Likelihood:                -16250.
No. Observations:                4350   AIC:                         3.251e+04
Df Residuals:                    4347   BIC:                         3.253e+04
Df Model:                           2
Covariance Type:                  HC1
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      1.1037      1.502      0.735      0.462      -1.839       4.047
age            0.6413      0.082      7.804      0.000       0.480       0.802
agesq         -0.0072      0.001     -7.103      0.000      -0.009      -0.005
==============================================================================
Omnibus:                     5553.645   Durbin-Watson:                   1.929
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          1536656.033
Skew:                           6.811   Prob(JB):                         0.00
Kurtosis:                      94.063   Cond. No.                     1.69e+04
==============================================================================

Notes:
[1] Standard Errors are heteroscedasticity robust (HC1)
[2] The condition number is large, 1.69e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

Regression: reg2
                            OLS Regression Results
==============================================================================
Dep. Variable:                      w   R-squared:                       0.058
Model:                            OLS   Adj. R-squared:                  0.057
Method:                 Least Squares   F-statistic:                     47.05
Date:                Wed, 10 Jan 2024   Prob (F-statistic):           9.02e-39
Time:                        22:56:02   Log-Likelihood:                -16172.
No. Observations:                4350   AIC:                         3.235e+04
Df Residuals:                    4345   BIC:                         3.239e+04
Df Model:                           4
Covariance Type:                  HC1
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     83.9192     23.050      3.641      0.000      38.743     129.095
age            0.4778      0.079      6.038      0.000       0.323       0.633
agesq         -0.0053      0.001     -5.378      0.000      -0.007      -0.003
grade92       -4.9503      1.192     -4.153      0.000      -7.287      -2.614
grade92sq      0.0737      0.016      4.729      0.000       0.043       0.104
==============================================================================
Omnibus:                     5681.063   Durbin-Watson:                   1.940
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          1804437.288
Skew:                           7.060   Prob(JB):                         0.00
Kurtosis:                     101.773   Cond. No.                     4.55e+05
==============================================================================

Notes:
[1] Standard Errors are heteroscedasticity robust (HC1)
[2] The condition number is large, 4.55e+05. This might indicate that there are
strong multicollinearity or other numerical problems.

Regression: reg3
                            OLS Regression Results
==============================================================================
Dep. Variable:                      w   R-squared:                       0.071
Model:                            OLS   Adj. R-squared:                  0.069
Method:                 Least Squares   F-statistic:                     33.83
Date:                Wed, 10 Jan 2024   Prob (F-statistic):           3.46e-46
Time:                        22:56:02   Log-Likelihood:                -16142.
No. Observations:                4350   AIC:                         3.230e+04
Df Residuals:                    4342   BIC:                         3.235e+04
Df Model:                           7
Covariance Type:                  HC1
==================================================================================
                     coef    std err          z      P>|z|      [0.025      0.975]
----------------------------------------------------------------------------------
Intercept         77.4998     23.088      3.357      0.001      32.248     122.752
female[T.True]    -2.7783      0.406     -6.848      0.000      -3.573      -1.983
age                0.5335      0.084      6.377      0.000       0.370       0.698
agesq             -0.0059      0.001     -5.586      0.000      -0.008      -0.004
grade92           -4.5077      1.195     -3.774      0.000      -6.849      -2.166
grade92sq          0.0676      0.016      4.333      0.000       0.037       0.098
uhours            -0.0178      0.018     -1.006      0.315      -0.053       0.017
ownchild          -0.0589      0.158     -0.373      0.710      -0.369       0.251
==============================================================================
Omnibus:                     5697.899   Durbin-Watson:                   1.937
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          1843969.412
Skew:                           7.093   Prob(JB):                         0.00
Kurtosis:                     102.862   Cond. No.                     4.55e+05
==============================================================================

Notes:
[1] Standard Errors are heteroscedasticity robust (HC1)
[2] The condition number is large, 4.55e+05. This might indicate that there are
strong multicollinearity or other numerical problems.

Regression: reg4
                            OLS Regression Results
==============================================================================
Dep. Variable:                      w   R-squared:                       0.073
Model:                            OLS   Adj. R-squared:                  0.071
Method:                 Least Squares   F-statistic:                     29.09
Date:                Wed, 10 Jan 2024   Prob (F-statistic):           1.08e-59
Time:                        22:56:02   Log-Likelihood:                -16135.
No. Observations:                4350   AIC:                         3.229e+04
Df Residuals:                    4338   BIC:                         3.237e+04
Df Model:                          11
Covariance Type:                  HC1
======================================================================================
                         coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------------
Intercept             79.6443     27.046      2.945      0.003      26.636     132.653
female[T.True]        -0.2224      1.197     -0.186      0.853      -2.569       2.124
age                    0.5044      0.232      2.178      0.029       0.050       0.958
female[T.True]:age    -0.0708      0.029     -2.436      0.015      -0.128      -0.014
agesq                 -0.0063      0.001     -6.020      0.000      -0.008      -0.004
grade92               -4.5786      1.292     -3.543      0.000      -7.112      -2.045
grade92sq              0.0676      0.016      4.258      0.000       0.036       0.099
uhours                -0.0808      0.058     -1.400      0.162      -0.194       0.032
ownchild               0.6810      0.486      1.401      0.161      -0.272       1.634
grade92:age            0.0018      0.006      0.324      0.746      -0.009       0.013
uhours:age             0.0016      0.001      1.314      0.189      -0.001       0.004
ownchild:age          -0.0207      0.013     -1.607      0.108      -0.046       0.005
==============================================================================
Omnibus:                     5690.881   Durbin-Watson:                   1.936
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          1827449.155
Skew:                           7.079   Prob(JB):                         0.00
Kurtosis:                     102.408   Cond. No.                     6.54e+05
==============================================================================

Notes:
[1] Standard Errors are heteroscedasticity robust (HC1)
[2] The condition number is large, 6.54e+05. This might indicate that there are
strong multicollinearity or other numerical problems.

In [43]:
stargazer.Stargazer([reg1])

### Comparing 4 models in BIC
According to the figure below, BIC of model 3 is the lowest, which means that model 3 is the best model minimizing error in live data.

In [88]:
bic = [round(x.bic, 2) for x in [reg1,reg2,reg3,reg4]]
sg = stargazer.Stargazer([reg1,reg2,reg3,reg4])
sg.add_line('BIC', bic, location=stargazer.LineLocation.FOOTER_BOTTOM)
sg

### Liner regression with cross validation
## Cross validate OLS with combining sklearn k-fold cross validation and statsmodels ols formula
According to the figure below, complexity makes less rmse.

In [31]:
from sklearn.model_selection import KFold
k = KFold(n_splits=4, shuffle=False, random_state=None)

In [91]:
### Cross validate OLS with combining sklearn k-fold cross validation and statsmodels ols formula


def cv_reg(formula, data, kfold, robustse=None):
    regression_list = []
    predicts_on_test = []
    rsquared = []
    rmse_list = []

    # Calculating OLS for each fold

    for train_index, test_index in k.split(data):
        # print("TRAIN:", train_index, "TEST:", test_index)
        data_train, data_test = data.iloc[train_index, :], data.iloc[test_index, :]
        if robustse is None:
            model = smf.ols(formula, data=data_train).fit()
        else:
            model = smf.ols(formula, data=data_train).fit(cov_type=robustse)
        regression_list += [model]
        predicts_on_test += [model.predict(data_test)]
        rsquared += [model.rsquared]
        rmse_list += [rmse(data_train[formula.split("~")[0]], model.predict())]

    return {
        "regressions": regression_list,
        "test_predict": predicts_on_test,
        "r2": rsquared,
        "rmse": rmse_list,
    }


def summarize_cv(cvlist, stat="rmse"):
    result = pd.DataFrame(
        {"Model" + str(x + 1): cvlist[x][stat] for x in range(len(cv_list))}
    )
    result["Resample"] = ["Fold" + str(x + 1) for x in range(len(cvlist[0]["rmse"]))]
    result = result.set_index("Resample")
    result = pd.concat([result, pd.DataFrame(result.mean(), columns=["Average"]).T])
    return result

In [92]:
cv1 = cv_reg("w~ age + agesq", data, k, "HC0")
cv2 = cv_reg("w~ age + agesq + grade92 + grade92sq", data, k, "HC0")
cv3 = cv_reg("w~ age + agesq + grade92 + grade92sq + female + uhours + ownchild",data, k, "HC0")
cv4 = cv_reg("w~ age + agesq + grade92 + grade92sq + female + uhours + ownchild +  grade92* age + female*age + uhours*age + ownchild*age ", data, k, "HC0")
cv_list = [cv1, cv2, cv3, cv4]

TRAIN: [1088 1089 1090 ... 4347 4348 4349] TEST: [   0    1    2 ... 1085 1086 1087]
TRAIN: [   0    1    2 ... 4347 4348 4349] TEST: [1088 1089 1090 ... 2173 2174 2175]
TRAIN: [   0    1    2 ... 4347 4348 4349] TEST: [2176 2177 2178 ... 3260 3261 3262]
TRAIN: [   0    1    2 ... 3260 3261 3262] TEST: [3263 3264 3265 ... 4347 4348 4349]
TRAIN: [1088 1089 1090 ... 4347 4348 4349] TEST: [   0    1    2 ... 1085 1086 1087]

TRAIN: [   0    1    2 ... 4347 4348 4349] TEST: [1088 1089 1090 ... 2173 2174 2175]
TRAIN: [   0    1    2 ... 4347 4348 4349] TEST: [2176 2177 2178 ... 3260 3261 3262]
TRAIN: [   0    1    2 ... 3260 3261 3262] TEST: [3263 3264 3265 ... 4347 4348 4349]
TRAIN: [1088 1089 1090 ... 4347 4348 4349] TEST: [   0    1    2 ... 1085 1086 1087]
TRAIN: [   0    1    2 ... 4347 4348 4349] TEST: [1088 1089 1090 ... 2173 2174 2175]
TRAIN: [   0    1    2 ... 4347 4348 4349] TEST: [2176 2177 2178 ... 3260 3261 3262]
TRAIN: [   0    1    2 ... 3260 3261 3262] TEST: [3263 3264 3265 ... 4347 4348 4349]
TRAIN: [1088 1089 1090 ... 4347 4348 4349] TEST: [   0    1    2 ... 1085 1086 1087]
TRAIN: [   0    1    2 ... 4347 4348 4349] TEST: [1088 1089 1090 ... 2173 2174 2175]
TRAIN: [   0    1    2 ... 4347 4348 4349] TEST: [2176 2177 2178 ... 3260 3261 3262]
TRAIN: [   0    1    2 ... 3260 3261 3262] TEST: [3263 3264 3265 ... 4347 4348 4349]

In [93]:
summarize_cv(cv_list)

            Model1     Model2     Model3     Model4
Fold1    10.186991  10.036484   9.962263   9.941324
Fold2     9.276199   9.072945   8.996468   8.984048
Fold3    10.580807  10.369069  10.316646  10.302154
Fold4    10.468127  10.301700  10.219135  10.200138
Average  10.128031   9.945050   9.873628   9.856916